.location {
    padding-top: 96px;
    padding-bottom: 128px;

    h2 {
        font-size: $font-xl;
        font-weight: bold;
        padding-left: 16px;
        border-left: 8px solid $color-secondary-light;
        margin-bottom: 60px;
    }

    form {
        margin-bottom: 32px;

        label {
            font-size: $font-xm;
            margin-right: 20px;
        }

        select {
            width: 324px;
            height: 45px;
            padding: 8px 0 10px 20px;
            border: 1px solid $color-neutral-light2;
            font-size: $font-ss;
            color: #495057;
        }
    }
}

.location-list {
    display: flex;
    flex-wrap: wrap;

    .location-card {
        max-width: 350px;
        margin-bottom: 32px;
        border: 1px solid #00000020;
        color: #212529;

        &:not(:nth-child(3n+3)) {
            margin-right: 30px;
        }

        .location-img {
            display: block;
            width: 100%;
            height: 224px;
            object-fit: cover;
        }

        p {
            font-size: $font-xm;
            padding: 12px 0 12px 24px;
            border-bottom: 1px solid #00000020;;
        }

        .location-info {
            padding: 16px 24px;
            font-size: $font-m;

            li {
                display: flex;

                &:not(:last-child) {
                    margin-bottom: 16px;
                }

                span {
                    display: inline-block;
                }
                // icon對齊問題要再研究
                .location-icon {
                    width: 24px;
                    height: 24px;
                    margin-right: 8px;
                    background-repeat: no-repeat;
                    background-position: 50% 80%;
                    background-size: contain;
                }

                .location-icon1 {               
                    background-image: url(https://hexschool.github.io/webLayoutTraining1st/week3/icon-phone-black.svg);
                }

                .location-icon2 {
                    background-image: url(https://hexschool.github.io/webLayoutTraining1st/week3/icon-clock-black.svg);
                }

                .location-icon3 {
                    background-image: url(https://hexschool.github.io/webLayoutTraining1st/week3/icon-map.svg);
                }
            }
        }

        .location-link {
            width: 100%;
            padding: 20px 0;
            text-align: center;
            background: #000;
            color: $color-accent;
            font-size: $font-m;

            &:hover {
                background: $color-primary;
            }
        }
    }
}

@include tablet {

    .location {
        padding-top: 60px;
        padding-bottom: 76px;

        h2 {
            border-width: 4px;
            margin-bottom: 40px;
        }

        form {
            margin-bottom: 24px;

            label {
                font-size: $font-s;
            }

            select {
                width: 34.5%;
                padding: 10px 0 12px 16px;
                font-size: $font-s;
            }
        }
    }

    .location-list {
        justify-content: space-between;
        
        .location-card {
            width: 47.8%;
            margin-bottom: 20px;
    
            &:not(:nth-child(3n+3)) {
                margin-right: 0px;
            }

            .location-img {
                height: 164px;
            }

            p {
                font-size: $font-s;
                font-weight: bold;
                padding: 8px 0 8px 24px;
            }

            .location-info {
                font-size: $font-xs;

                li {
                    &:not(:last-child) {
                        margin-bottom: 8px;
                    }

                    .location-icon {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            .location-link {
                padding: 16px 0;
                font-size: $font-xs;
            }
        }
    }
}

@include mobile {
    .location {
        padding-top: 28px;
        padding-bottom: 40px;

        h2 {
            font-size: $font-xs * 2;
            margin-bottom: 24px;
            padding-left: 8px;
        }

        form {
            margin-bottom: 20px;

            label {
                font-size: $font-xs;
            }

            select {
                width: 76%;
                height: 36px;
                padding: 7px 0 9px 16px;
                font-size: $font-xs;
            }
        }
    }

    .location-list {
        .location-card {
            width: 100%;
            margin-bottom: 16px;
        }
    }
}