 .nav-sub {
    display: flex;

    li {
      width: 33.3%;
      font-size: $font-3m;
      font-weight: 600;
      text-align: center;

      a {
         width: 100%;
         padding: 24px 0 18px;
         border-left: 1px solid $color-neutral-light;
         border-right: 1px solid $color-neutral-light;
         border-bottom: 8px solid $color-accent;

         &:hover {
            border-bottom: 8px solid $color-primary;
         }

         img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
         }
      }
    }
 }

 .banner-box {
    display: flex;

    .banner-pro-op {
      width: 50%;
      height: 304px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      }     

    .banner-left {
         background-image: url(https://hexschool.github.io/webLayoutTraining1st/week3/banner-1.png);
      }
      
    .banner-right {
         background-image: url(https://hexschool.github.io/webLayoutTraining1st/week3/banner-2.png);
      }
 }

 .pro-op-box {
    padding: 80px 0 96px;
    text-align: center;

    h2 {
      font-size: $font-lg;
      margin-bottom: 40px;

      span {
         display: inline-block;
         font-size: $font-3m;
      }
    }
 }

 .pro-op-list {
    display: flex;
    flex-wrap: wrap;

    li {
      width: 25%;
      padding: 0 15px;
      margin-bottom: 104px;

      &:nth-last-child(-n+4) {
         margin-bottom: 0px;
      }

      a {
         width: 100%;
         border-top: 3px solid $color-accent;

         &:hover {
            border-top: 3px solid $color-primary;
         }

         img {
            display: block;
            width: 100%;
            height: 164px;
            object-fit: cover;
         }
      }   
    }
 }

 .pro-op-txt {
    font-size: $font-xm;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;

    span {
      display: inline-block;
      color: $color-primary;
      font-size: $font-xm;
      font-weight: 600;
    }
 }

 .pro-op-color {
    text-align: left;

    span {
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 4px;
      margin-right: 8px;
      vertical-align: middle;

      &:nth-child(1) {
         background: $color-product-1;
      }

      &:nth-child(2) {
         background: $color-product-2;
      }
    }
 }

 .page-list {
    max-width: 380px;
    margin: 0 auto;
    border: 1px solid $color-neutral-dark;
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;

    li {
       width: 11%;
       border-right: 1px solid $color-neutral-dark;
       font-size: $font-ss;
       color: $color-neutral-dark;
       text-align: center;

       &:last-child {
         border-right: none;
       }

       &:first-child, &:last-child {
         width: 22%;
         box-sizing: border-box;
  
         a {
           padding: 12px 13px;
         }
       }

       a {
          padding: 12px 16px;
          color: $color-neutral-dark;

          &:hover {
            background: #000;
            color: $color-accent;
          }
       }
    }
 }


@include tablet {

   .nav-sub {
      li {
         font-size: $font-xm;

         a {
            padding: 14px 0 6px;
   
            img {
               width: 32px;
               height: 32px;
            }
         }  
      }
   }

   .pro-op-box {
      padding: 56px 0 65px;

      h2 {
         font-size: $font-3m;
         margin-bottom: 32px;

         span {
            font-size: $font-xm;
         }
      }
   }

   .pro-op-list {
      li {
         width: 50%;
         margin-bottom: 72px;

         &:nth-last-child(4), &:nth-last-child(3) {
            margin-bottom: 72px;
         }
      }
   }

   .page-list {
      margin-bottom: 96px;
   }
}

@include mobile {

   .nav-sub {
      li {
         font-size: $font-xs;

         a {
            padding: 5px 0 1px;
            border-bottom: 4px solid $color-accent;

            &:hover {
               border-bottom: 4px solid $color-primary;
            }

            img {
               width: 15px;
               height: 15px;
               margin-right: 2px;
            }
         }
      }
   }

   .banner-box {
      .banner-pro-op {
         height: 148px;
      }
   }

   .pro-op-box {
      padding: 32px 0 40px;

      h2 {
         font-size: $font-m;
         margin-bottom: 20px;

         span {
            font-size: $font-s;
         }
      }
   }

   .pro-op-list {
      li {
         width: 100%;
         margin-bottom: 32px;

         &:nth-last-child(4), &:nth-last-child(3), , &:nth-last-child(2) {
            margin-bottom: 32px;
         }         
      }
   }

   .pro-op-txt {
      font-size: $font-s;

      span {
         font-size: $font-s;
      }
   }

   .pro-op-color {
      span {
         width: 16px;
         height: 16px;
         margin-right: 4px;
      }
   }

   .page-list {
      max-width: 345px;
      margin-bottom: 56px;

      li {
         font-size: $font-s;

         &:first-child, &:last-child {
            a {
               padding: 10px 12px;
            }
         }

         a {
            padding: 12px 15px;
         }
      }
   }
}