.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
 }

 @include tablet {
     .container {
         max-width: 720px;
     }
 }

 @include mobile {
     .container {
         max-width: 375px;
     }
 }