$color-primary: #AA0601;
$color-secondary: #650300;
$color-accent: white;
$color-neutral-light: #DCDCDC;
$color-neutral-dark: #555;
$color-product-1: #5F3E2D;
$color-product-2: #B75929;

$font-xs: 0.875rem; //14px
$font-s: 1rem; //16px
$font-ss: 1.125rem; //18px
$font-m: $font-s * 1.25; //20px
$font-xm: $font-s * 1.5; //24px
$font-3m: $font-s * 2; //32px
$font-4m: $font-ss * 2; //36px
$font-lg: $font-xs * 3; //42px 
$font-xl: $font-s * 3; //48px
$font-2l: $font-s * 4; //64px
$font-3l: $font-ss * 4; //72px